$color-white: #FFF;
$color-white-dimm: #FFFFFFBF;
$color-black: #000;
$color-black-dimm: rgba(0, 0, 0, 0.3);
$color-gray-90: #333D4B;
$color-gray-70: #6B7684;
$color-gray-60: #8B95A1;
$color-gray-20: #F5F5F5;
$color-dimm: #7676801F;
$color-green: #23B169;
$color-green-bg: #E6FCF4;
$color-yellow: #FFC450;
$color-yellow-bg: #FFF8EB;
$color-blue: #007AFF;
$color-red: #EF4452;
$color-red-bg: #FFE2E5;
$color-brown: #5E403B;
$color-brown-bg: #F2E6E4;
$color-purple: #9B51E0;
$color-purple-bg: #F5EEFC;
